<div class="flex flex-col space-y-3">
    <div>
        <h4>{{ site.Params.footer.title }}</h4>
    </div>
    <div>
        {{ site.Params.footer.subtitle }}
    </div>
    <div class="button">
        {{ $opts := dict "path" "/contact" }}
        <a href="{{ .RelRef $opts }}" title="{{ site.Params.footer.contact }}">
            {{ site.Params.footer.contact_us }}
        </a>
    </div>
    <div class="flex flex-col space-y-3">
        <div>
            {{ partial "menu.html" (dict "menuID" "footer" "page" .) }}
        </div>
<!--        <div>-->
<!--            <nav aria-label="Language switcher">-->
<!--                <ul class="flex flex-row space-x-3">-->
<!--                    {{ if .Translations }}-->
<!--                    {{ range .Translations }}-->
<!--                    <li><a href="{{ .RelPermalink }}" class="underline">{{ .Language.Lang }}</a></li>-->
<!--                    {{ end }}-->
<!--                    {{ end }}-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
    </div>
    <div class="pt-3 text-xs">
        Copyright {{ now.Year }} Innoviter UG. {{ T "all_rights_reserved" }}
    </div>
    <div class="pt-3 flex">
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>
    <div class="pt-3">
        <img src="https://app.greenweb.org/api/v3/greencheckimage/innoviter.com?nocache=true" alt="This website runs on green hosting - verified by thegreenwebfoundation.org" width="200px" height="95px">
    </div>
</div>
