<div class="flex flex-col space-y-3">
    <div>
        <h4>{{ site.Params.footer.title }}</h4>
    </div>
    <div>
        {{ site.Params.footer.subtitle }}
    </div>
    <div class="flex flex-col md:flex-row md:space-x-9 md:py-6">
        <div class="flex flex-row space-x-3 py-2">
            <div class="py-1">
                <svg width="16px" height="16px" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 5.3585V14H16V5.35849L8 10.3585L0 5.3585Z"/>
                    <path d="M16 3V2H0V3L8 8L16 3Z"/>
                </svg>
            </div>
            <div class="text-xl underline hover:no-underline"><a href="mailto:hello@innoviter.com">hello@innoviter.com</a></div>
        </div>
        <div class="flex flex-row space-x-3 py-2">
            <div class="py-1">
                <svg width="16px" height="16px" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 5V1H7V5L4.5 7.5L8.5 11.5L11 9H15V15H11C5.47715 15 1 10.5228 1 5Z"/>
                </svg>
            </div>
            <div class="text-xl underline hover:no-underline"><a href="tel:004960327859109">+49 6032 7859109</a></div>
        </div>
    </div>
    <div class="flex flex-col space-y-3">
        <div>
            {{ partial "menu.html" (dict "menuID" "footer" "page" .) }}
        </div>
<!--        <div>-->
<!--            <nav aria-label="Language switcher">-->
<!--                <ul class="flex flex-row space-x-3">-->
<!--                    {{ if .Translations }}-->
<!--                    {{ range .Translations }}-->
<!--                    <li><a href="{{ .RelPermalink }}" class="underline">{{ .Language.Lang }}</a></li>-->
<!--                    {{ end }}-->
<!--                    {{ end }}-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
    </div>
    <div class="pt-3 text-xs">
        Copyright {{ now.Year }} Innoviter UG. {{ T "all_rights_reserved" }}
    </div>
    <div class="pt-3 flex">
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>
    <div class="pt-3">
        <img src="https://app.greenweb.org/api/v3/greencheckimage/innoviter.com?nocache=true" alt="This website runs on green hosting - verified by thegreenwebfoundation.org" width="200px" height="95px">
    </div>
</div>
